.button {
    
    border: none;
    color: ;
    font-size: 30px;
    margin: 50px 50px;
    cursor: pointer;
    border-radius: 30px;
 }
.text2 {
    color: rgb(11, 0, 0);
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 120px;
}
.borderexample {
    border-style:solid;
    border-color:#287EC7;
   }
.cs {
    background-color: rgb(228,210,155);
    width: auto;
    height: 80px;
    border-radius: 50px;
    margin-top: -30px;
}
.baslik {
    color: white;
    font-size: 40px;
    text-align: 5px;
    text-decoration: dotted;
    margin-top: 11px;
    
 
}
.body01 {
    background-image:url(Photos/pizza.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.p1 {
    color: white;
    font-size: 50px;
    text-decoration:double ;
  
}
.p2 {
    color: white;
    font-size: 60px;
    text-decoration: underline;
}

.profil {
    height: 250px;
    width: 390px;
    border-radius: 10%;
    margin:0 auto; 
    margin-top: 100 px;
}
.benim {
    font-size: 20px;
    font-weight: bold;
}
.icon {
    height: 25px;
    width: 25px;
    margin-left: 70px;
}
.piz {
    margin-left: 60px;
}
.profil2 {
    border-radius: 10%;
    height: 250px;
    width: 390px;
}
.home_page{
    margin-top: 100px;
}
.ops{
    font-size: 29px;
}
.baslikk {
    color: white;
    font-size: 80px;
}
.l1 {
    color:white
}
.pizza1{
    height: 200px;
    width: 200px;
}

.map{
    width: 500px;
    height: 350px;
    margin-left: 300px;
    border-radius: 5%;
}
.bodyy {
 
}
.body02 {
    background-image:url(Photos/pizza.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.form {
    color: white;
    
}
.mapstore{
    width: 500px;
    height: 350px;
    margin-left: 400px;
    border-radius: 5%;
    justify-content: center;

}
.csg {
    background-color: rgb(228,210,155);
    width:auto ;
    height: 80px;
    border-radius: 50px;

}
.logouticon {
    height: 30px;
    width: 30px;
    margin-left: 1px;
    margin-top: -20px;

}
.logout {  
    margin-left: 1550px;
    margin-top: 1px;
    font-size: 20px;

}
.group {
    background-image:url(Photos/woodd.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.manipeni {
    color: black;
    font-size: 50px;
    margin-left: 797px;
    margin-top: 30px;

}
.table1 {
    margin-bottom: -130px;
    margin-left: 200px;
}
.a1 {
    font-size: 28px;
}
.a2 {
    font-size: 19px;
    text-decoration: underline;
}
.a3 {
    font-size: 17px;
}
.a4 {
    font-size: 17px;


}
.masa2 {
    margin-left: 1350px;
    margin-top: -185px;
    
    
}
.table3 {
    margin-top: 50px;
}
.marr {
    height: 200px;
    width: 200px;
    margin-left: 30px;
    margin-top: -20px;
}
.karr {
    height: 200px;
    width: 200px;
    margin-left: 750px;
}
.masa3 {
    margin-left: 1350px;
    margin-top: -210px;
}
.ali {
    height: 200px;
    width: 200px;
    margin-left: 740px;
}
.baba {
    height: 200px;
    width: 200px;
    margin-left: 30px;
}
.table4 {
    margin-bottom: -130px;
    margin-left: 200px;
}
.backimage {
    height: 40px;
    width: 40px;

}